{%extends 'base.html'%}

{%block body_block%}

<div class="container mt-5">
    <div class="row">
        <div class="col-6">
            <div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        Phone management
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
      <div class="accordion-body">
 <a href="{%url 'addphone'%}"class="btn-primary form-control "><center>Add Phone</center></a> <br>
        <div><a href="{%url 'display_phone'%}" class="btn-secondary form-control"><center>List phone</center></a>
      </div>
       </div>
    </div>
  </div>
        </div>
        <div class="col-6"></div>
    </div>
    </div></div>


{%endblock%}